<div>
					<!-- This is the content of the first tab. -->



					<div class="padding">

						  <div class="example">
							<!--
							<h2 class="example-title">TimeLine</h2>
							-->
					        <div class="row">
							  <div class="col-md-12" style="padding-right:0px !important;">
								  <div class="timeline">
									  <dl>
										  <dt>April 2015</dt>
										  <dd class="pos-right clearfix">
											  <div class="time hidden-xs hidden-sm hidden-md hidden-lg"><div class="badge">14.</div></div>
											  <div class="time visible-xs hidden-sm hidden-md hidden-lg">14. Apr.</div>
											  <div class="circ hidden-xss visible-xs visible-sm visible-md visible-lg"></div>
											  <div class="time hidden-xss hidden-xs visible-sm visible-md visible-lg">14. April 2015</div>
											  <div class="events">
												  <div class="pull-left">
													  <img src="pngs/app/corporate/photo-1.jpg" class="events-object img-rounded">
												  </div>
												  <div class="events-body">
													  <h4 class="events-heading">Bootstrap</h4>
													  <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p>
												  </div>
											  </div>
										  </dd>
										  <dd class="pos-left clearfix">
											  <div class="time hidden-xs hidden-sm hidden-md hidden-lg"><div class="badge">14.</div></div>
											  <div class="time visible-xs hidden-sm hidden-md hidden-lg">14. Apr.</div>
											  <div class="circ hidden-xss visible-xs visible-sm visible-md visible-lg"></div>
											  <div class="time hidden-xss hidden-xs visible-sm visible-md visible-lg">14. April 2015</div>
											  <div class="events">
												  <div class="pull-left">
													  <img src="pngs/app/corporate/photo-2.jpg" class="events-object img-rounded">
												  </div>
												  <div class="events-body">
													  <h4 class="events-heading">Bootflat</h4>
													  <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p>
												  </div>
											  </div>
										  </dd>
										  <dt>März 2015</dt>
										  <dd class="pos-right clearfix">
											  <div class="time hidden-xs hidden-sm hidden-md hidden-lg"><div class="badge">14.</div></div>
											  <div class="time visible-xs hidden-sm hidden-md hidden-lg">14. Apr.</div>
											  <div class="circ hidden-xss visible-xs visible-sm visible-md visible-lg"></div>
											  <div class="time hidden-xss hidden-xs visible-sm visible-md visible-lg">14. April 2015</div>
											  <div class="events">
												  <div class="pull-left">
													  <img src="pngs/app/corporate/photo-3.jpg" class="events-object img-rounded">
												  </div>
												  <div class="events-body">
													  <h4 class="events-heading">Flat UI</h4>
													  <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p>
												  </div>
											  </div>
										  </dd>
										  <dd class="pos-left clearfix">
											  <div class="time hidden-xs hidden-sm hidden-md hidden-lg"><div class="badge">14.</div></div>
											  <div class="time visible-xs hidden-sm hidden-md hidden-lg">14. Apr.</div>
											  <div class="circ hidden-xss visible-xs visible-sm visible-md visible-lg"></div>
											  <div class="time hidden-xss hidden-xs visible-sm visible-md visible-lg">14. April 2015</div>
											  <div class="events">
												  <div class="pull-left">
													  <img src="pngs/app/corporate/photo-4.jpg" class="events-object img-rounded">
												  </div>
												  <div class="events-body">
													  <h4 class="events-heading">UI design</h4>
													  <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p>
												  </div>
											  </div>
										  </dd>

									  </dl>
								  </div>
							  </div>
							</div>
					      </div>

					</div>


					<div class="btn-toolbar">
						<div class="btn-group">
						  <button class="btn dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Button <span class="caret"></span></button>
						  <ul class="dropdown-menu">
						    <li><a href="#">Action</a></li>
						    <li><a href="#">Another action</a></li>
						    <li><a href="#">Something else here</a></li>
						    <li class="divider"></li>
						    <li><a href="#">Separated link</a></li>
						  </ul>
						</div> <!-- .btn-group -->
					</div>




				</div>