<div>

	<div class="list" ng-class="{'no-norder': templateBorder || templateBorder == true}">
		<div ng-repeat="(key, item) in templateController.myUsersObjectSynced track by $index" class="item item-complex item-avatar item-icon-right" can-swipe="false" can-reorder="false" can-delete="false">
		    <a class="item item-avatar" preventDefault href="#" ui-sref="users.details({user_id:key})" >
		      	<img src="pngs/app/corporate/avatar_m.png">
		      	<h2>{{ templateController.usersObjectSynced[key].firstname }} {{ templateController.usersObjectSynced[key].lastname }}</h2>
		      	<p>{{ templateController.usersObjectSynced[key].style }}</p>
				<i class="icon item-icon-right ion-chevron-right" style="padding-right:0;f/ont-size:inherit;"></i>
		    </a>
	    </div>
	</div>

</div>